
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.header .logo {
display: flex;
align-items: center;
padding-left: 20px;
}

.header .logo img {
width: 60px;
height: 60px;
}

.links {
    padding-right: 30px;
}

.links a {
    margin: 10px;
}

.search {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.resCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.resCard {
    width: 200px;
    padding: 10px;

}

.resCard:hover{
    border: 5px solid black;
    cursor: pointer;
}

.resCard img {
    width: 180px;
    height: 130px;
}

.shim-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimCard {
    width: 200px;
    padding: 10px;
    background-color: rgb(160, 170, 170);
    margin: 10px;
    height: 400px;
}

.login {
    width: 70px;
    height: 20px;
    background-color: aqua;
    cursor: pointer;
}